<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <%= render 'shared/navigation' %>


      <h1>Sign in</h1>


  <div id="error"> <%= flash[:danger] unless flash[:danger].blank? %> </div>

  <%= simple_form_for :session, url: sessions_login_url do |f| %>
    <%= f.input :email, label: false, placeholder: "E-mail address" %>
    <%= f.input :password, label: false, placeholder: "Password" %>
    <%= f.submit "Sign In" %>
  <% end %>

<h4><%= link_to "No account yet? Sign up now!", new_user_path %>  </h4>
  </body>
</head>
