<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <div class="topnav">
      <ul id="site-nav">
        <li><%= link_to "Main", home_index_url %></li>
        <li><%= link_to "Articles", articles_url %></li>
        <li>Gallery</li>
      </ul>

      <ul id="account-nav">
      <% if logged_in? %>
        <li>Test</li>
      <% else %>
        <li><%= link_to "Sign up", new_user_path %></li>
      <% end %>
      </ul>
    </div>
      <h1>Sign in</h1>


  <div id="error"> <%= flash[:danger] unless flash[:danger].blank? %> </div>

  <%= simple_form_for :session, url: sessions_login_url do |f| %>
    <%= f.input :email, label: false, placeholder: "E-mail address" %>
    <%= f.input :password, label: false, placeholder: "Password" %>
    <%= f.submit "Sign In" %>
  <% end %>

  </body>
</head>
