<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <div class="topnav">
      <ul id="site-nav">
        <li>Main</li>
        <li>Articles</li>
        <li>Gallery</li>
      </ul>

      <ul id="account-nav">
        <li><%= link_to "Sign up", new_user_path %></li>
      </ul>
    </div>
      <h1>Sign in</h1>


<%= flash[:danger] unless flash[:danger].blank? %>

<%= simple_form_for :session, url: sessions_login_url do |f| %>
  <%= f.input :email, label: false, placeholder: "E-mail address" %>
  <%= f.input :password, label: false, placeholder: "Password" %>
  <%= f.submit "Sign In" %>
<% end %>
