<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1"></meta>
  </head>

  <body>
    <%= render 'shared/navigation' %>

    <div class="container">
      <!-- Example row of columns -->
      <div class="row">
        <div class="col-md-4"> </div>
        <div class="col-md-4 text-center">
          <p>
            <%= link_to "Create new article", new_article_url, :class => "btn btn-primary" %>
          </p>
        </div>
        <div class="col-md-4"> </div>
      </div>
      <div class="row">
        <% @all_articles.each do |article| %>
          <div class="col-md-4 article-card">
            <h2><%= article.title %></h2>
            <p><%= raw article.content[0..200] %></p>
            <p>
              <%= link_to "Read", article, :class => "btn btn-default" %>
              <%= link_to "Destroy", article, method: :delete, data: { confirm: "Are you sure?" }, :class => "btn btn-danger" %>
            </p>
          </div>
        <% end %>
       </div>
     </div>



      </body>
    </html>
