<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <%= render 'shared/navigation' %>

    <div id="dropArea">
      <ul>
        <li>test</li>
        <li><%= link_to "Sign out", sessions_logout_url, method: :delete %></li>
      </ul>
      </div>

<div id="new_article_button"> <%=link_to "Write a new article", new_article_url %> </div>
    <div id="article_container">
      <% @all_articles.each do |article| %>
        <%= link_to article do %>
          <div class="tile">
            <h2> <%= article.title %> </h3>
            <h5> Written by: <%= User.find_by(id: article.user_id).name %> </h5>
            <p> <%= raw article.content[0..200] %>... </p>
          </div>
        <% end %>
      <% end %>

    </div>

    <script>
    $("#dropButton").click(function() {
        $("#dropArea").toggle()
      });
    </script>

    </body>
</html>
