<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <%= render 'shared/navigation' %>

    <div id="dropArea">
      <ul>
        <li>test</li>
        <li><%= link_to "Sign out", sessions_logout_url, method: :delete %></li>
      </ul>
      </div>

    <div id="article_form">
      <%= simple_form_for @article do |f| %>
      <%= f.input :title, label: false, placeholder: 'Title' %>
      <%= f.input :content, label: false, placeholder: 'Text', as: :ckeditor %>
      <%= f.button :submit %>
      <% end %>
    </div>

    <script>
    $("#dropButton").click(function() {
        $("#dropArea").toggle()
      });
    </script>

    <script src="https://cdn.ckeditor.com/4.7.1/standard/ckeditor.js"></script>

    </body>
</html>
