<html>
  <head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  </head>

  <body>
    <%= render 'shared/navigation' %>
      <div class="container">
        <div class="row">
          <div class="panel-heading">
  	               <div class="panel-title text-center">
  	               		<h1 class="title">Sign up!</h1>
  	               		<hr />
  	               	</div>
  	            </div>
        </div>
        <div class="row">
          <div class="col-xs-3"></div>
          <div class="col-xs-6">
            <%= simple_form_for @user do |f| %>
              <%= f.input :name, label: false, placeholder: 'Username', input_html: { class: "form-control" } %>
              <%= f.input :email, label: false, placeholder: 'Email address', error: false, input_html: { class: "form-control", "data-tooltip" => true, title: "user@example.com" }  %>
              <%= f.input :password, label: false, placeholder: 'Password', error: false, input_html: { class: "form-control", "data-tooltip" => true, title: "At least 6 characters long" } %>
              <%= f.input :password_confirmation, label: false, placeholder: 'Re-enter password', error: false, input_html: { class: "form-control" } %>
              <%= f.button :submit, class: "btn btn-lg btn-primary btn-block" %>
            <% end %>

            <% if @user.errors.any? %>
              <div id="error_msg">
                  <ul>
                    <% @user.errors.full_messages.each do |msg| %>
                      <li><%= msg %></li>
                    <% end %>
                  </ul>
              </div>
            <% end %>
          </div>
          <div class="col-xs-3"></div>
        </div>
      </div>

  </body>

</html>
